In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file) 
df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [2]:
total_players = df.nunique()['SN']
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of Unique Items  Average Price   Number of Purchases     Total Revenue
#     183                $3.05           780                     $2,379.77

num_unique_items = len(df['Item ID'].unique())
average_price = df['Price'].mean() 
num_purchases = df['Purchase ID'].count()
total_revenue = df['Price'].sum()

summary = pd.DataFrame({
    'Number of Unique Items' : [num_unique_items],
    'Average Price' : [average_price],
    'Number of Purchases' : [num_purchases],
    'Total Revenue' : [total_revenue]
})

summary.style.format({
    'Average Price' : "${:,.2f}",
    'Total Revenue' : "${:,.2f}"
})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# players_df = df.drop_duplicates(['SN'])
gender_dfg = df.groupby("Gender")

gender_counts = gender_dfg.nunique()["SN"]
percentage = gender_counts / total_players * 100

summary_df = pd.DataFrame({
    "Total Count" : gender_counts,
    "Percentage of Players" : percentage
})

summary_df = summary_df.sort_values(["Total Count"], ascending = False)

summary_df.style.format({"Percentage of Players":"{:.2f} %"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_dfg = df.groupby("Gender")

purchase_count = gender_dfg["Purchase ID"].count()
price_average = gender_dfg["Price"].mean()
purchase_average_price = gender_dfg["Price"].sum()

ave_purchase_person = purchase_average_price / gender_counts

summary = pd.DataFrame({
    "Purchase Count" : purchase_count, 
    "Average Purchase Price" : price_average, 
    "Total Purchase Value" : purchase_average_price, 
    "Average Total Purchase Per Person" : ave_purchase_person
})

summary.style.format({
    'Average Purchase Price' : '${:,.2f}',
    'Total Purchase Value' : '${:,.2f}',
    'Average Total Purchase Per Person' : '${:,.2f}'
})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
ages_df = df.copy()

bins =        [0,       9,        14,          19,         24,         29,         34,         39,       200]
labels = [  "<10",   "10-14",    "15-19",     "20-24",     "25-29",   "30-34",    "35-39",     "40+"   ]

ages_df["Age Group"] = pd.cut(ages_df["Age"], bins, labels=labels)

age_groups = ages_df.groupby('Age Group')

ages_total_counts = age_groups["SN"].nunique()
ages_percentages = (ages_total_counts/total_players) * 100

ages_summary = pd.DataFrame({
    "Total Count" : ages_total_counts, 
    "Percentage of Players" : ages_percentages
})

ages_summary.style.format({
    'Percentage of Players' : '{:,.2f}%'
})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
ages_df = df.copy()

bins =        [0,       9,        14,          19,         24,         29,         34,         39,       200]
labels = [  "<10",   "10-14",    "15-19",     "20-24",     "25-29",   "30-34",    "35-39",     "40+"   ]
ages_df["Age Group"] = pd.cut(ages_df["Age"], bins, labels=labels)
age_groups = ages_df.groupby('Age Group')

age_purchase_counts = age_groups["Purchase ID"].count()
age_purchase_avg = age_groups["Price"].mean()
age_total_purch_val = age_groups["Price"].sum()
purchase_per_person_ave = age_total_purch_val / ages_total_counts


ages_purchases_summary = pd.DataFrame({
    "Purchase Count" : age_purchase_counts, 
    "Average Purchase Price" : age_purchase_avg, 
    "Total Purchase Value" : age_total_purch_val, 
    "Average Total Purchase Per Person" : purchase_per_person_ave
})

target_row = ages_purchases_summary.iloc[[0],:]
ages_purchases_summary = ages_purchases_summary.drop(ages_purchases_summary.index[0])
ages_purchases_summary
ages_purchases_summary.append(target_row).style.format({
    "Average Purchase Price" : "${:,.2f}",
    "Total Purchase Value" : "${:,.2f}",
    "Average Total Purchase Per Person" : "${:,.2f}"
})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
sn_spenders_df = df.copy()

sn_columns = ['SN','Purchase Count', 'Average Purchase Price', 'Total Purchase Value']

sn_group = sn_spenders_df.groupby('SN')
players = players_df['SN'].tolist()
sn_purchase_counts = sn_group['Purchase ID'].count().tolist()
sn_avg_purch = sn_group["Price"].mean().tolist()
sn_total_purch = sn_group["Price"].sum().tolist()

data = []
for i,val in enumerate(sn_purchase_counts):
    data.append([players[i], sn_purchase_counts[i], sn_avg_purch[i], sn_total_purch[i]])

sn_summary = pd.DataFrame(
   data
,columns = sn_columns)

sn_summary.set_index("SN")

# sn_summary.sort_values(by=['Total Purchase Value'], ascending=False)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame